<% provide(:title, t('home')) %>

<div class="row">
  <div class="large-12 columns large-centered text-center">

  	<h1>Welcome to the Sample App</h1>


  <h3>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "button large radius primary" %>

  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
