<% provide(:title, t('user_login')) %>
<h3><%= yield(:title) %></h3>

<div class="row">
  <div class="large-12 columns large-centered">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, t('user_email') %>
      <%= f.email_field :email, autofocus: true %>

      <%= f.label :password, t('user_password') %>
      <%= link_to t('user_password_forgot'), new_password_reset_path %>
      <%= f.password_field :password %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t('remember_me') %></span>
      <% end %>

      <%= f.submit t('btn_login'), class: "button radius primary" %>
    <% end %>

    <p><%= t('user_new') %>? <%= link_to t('user_signup'), signup_path %></p>
  </div>
</div>
