<% provide(:title, t('user_password_reset')) %>
<h2><%= yield(:title) %></h2>

<div class="row">
  <div class="large-12 columns large-centered">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password, t('user_password') %>
      <%= f.password_field :password, autofocus: true %>

      <%= f.label :password_confirmation, t('user_password_confirm') %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit t('btn_user_password_update'), class: "button radius primary" %>
    <% end %>
  </div>
</div>
