<% provide(:title, t('user_edit')) %>
<h3><%= yield(:title) %></h3>

<div class="row">
  <div class="large-12 columns large-centered">
    <%= form_for(@user) do |f| %>
      <%= render 'form', f: f %>

      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target=_blank><%= t('gravatar_change') %></a>
      </div><br>

       <%= f.submit t('btn_user_save'), class: "button radius primary" %>
    <% end %>

  </div>
</div>
