<% provide(:title, t('user_signup')) %>
<h3><%= yield(:title) %></h3>

<div class="row">
  <div class="large-12 columns large-centered">
    <%= form_for(@user) do |f| %>
      <%= render 'form', f: f %>
      <%= f.submit t('btn_user_create'), class: "button radius primary" %>
    <% end %>
  </div>
</div>
