<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert-box round alert">
      <big><strong>
        The form contains <%= pluralize(@user.errors.count, "error") %>. 
      </strong></big>
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>