<%# navigation header styled for Zurb Foundation 5 %>

<header class="header">

  <!-- Off Canvas Menu -->
  <aside class="right-off-canvas-menu">
    <!-- whatever you want goes here -->
    <ul class="off-canvas-list">
      <li><label><%= t('appname') %></label></li>
      <li><%= link_to t('home'), root_path, class: "navtop_link" %></li>
      <% if logged_in? %>
         <li><%= link_to t('users'), users_path %></li>
      <% end %>
      <li><%= link_to t('about'), about_path, class: "navtop_link" %></li>
      <li><%= link_to t('help'),  help_path, class: "navtop_link" %></li>
      <% if logged_in? %>
        <li><%= link_to t('logout'), logout_path, class: "navtop_link", method: "delete" %></li>
        <li><%= link_to current_user.email, edit_user_path(current_user) %></li>
      <% else %>
        <li><%= link_to t('login'), login_path, class: "navtop_link" %></li>
      <% end %>
      <li>"  "</li>
    </ul>
  </aside>

  <div class="row fullWidth">
    <nav class="top-bar" role="navigation" data-options="sticky_on: large">
  	  <ul class="title-area">
  	    <li class="name">
  	      <h1><a href="#" class="navtop_link"><%= image_tag("mblog.png", :alt => "rss feed") %> <%= t('appname') %></a></h1>
  	    </li>
        <li class="toggle-topbar menu-icon"><a class="right-off-canvas-toggle" href="#"><span><%= t('menu') %></span></a></li>
  	  </ul>

  	  <section class="top-bar-section">
  	    <!-- Right Nav Section -->
  	    <ul class="right">
  	    	<li><%= link_to t('about'), about_path, class: "navtop_link" %></li>
  	    	<li><%= link_to t('help'),  help_path, class: "navtop_link" %></li>
  	    	<% if logged_in? %>
  				  <li><%= link_to t('logout'), logout_path, class: "navtop_link", method: "delete" %></li>
  				  <li><%= link_to current_user.email, edit_user_path(current_user) %></li>
  				<% else %>
  				  <li><%= link_to t('login'), login_path, class: "navtop_link" %></li>
  				<% end %>
  	      <li>"  "</li>

  	    </ul>

  	    <!-- Left Nav Section -->
  	    <ul class="left">
  	      <li><%= link_to t('home'), root_path, class: "navtop_link" %></li>
          <% if logged_in? %>
      		   <li><%= link_to "Users", users_path %></li>
          <% end %>
  	    </ul>
  	  </section>

  	</nav>
  </div>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

</header>
