<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Userfw" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <%= render 'layouts/header' %>

        <main role="main">
        	<div class="row">
      			<div class="small-12 small-centered columns">
    	      	<%= render 'layouts/messages' %>
    	      	<%= yield %>
    	      	<%= render 'layouts/footer' %>
              <!--
              <div class="panel callout radius">
                <%= debug(params) if Rails.env.development? %>
              </div>
            -->
           </div>
          </div>
        </main>

      </div>
    </div>

  </body>
</html>
